<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">Price Discounts<span class="badge badge-secondary" id="table_infos"></span></h1>
                </div><!-- Page Header Content -->
                <div class="page-header-content reset-block">
                    <div class="reset-wrap">
                        <button class="btn-reset" ng-click="reset_filter();">
                            <img class="img-responsive" src="./public/theme/img/content/reset.svg" alt="Reset" />
                        </button>
                    </div>
                </div><!-- Page Header Content -->
                <div class="page-header-content search-block">
                    <div class="search_filter">
                        <label>
                            <input type="search" id="search_price_discount" class="form-control" placeholder="Search" autofocus />
                            <button class="btn-clear" ng-click="clear_search()">Clear</button>
                        </label>
                    </div><!-- Search Filter -->
                </div>
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered" data-toggle="modal" data-target="#discount-group-filter-modal"><i class="icon ion-md-funnel"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <a href="#!/part-pkg/price-discount/form" class="btn btn-primary">
                        Add New
                    </a>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="page-main-content list-page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="price_discounts_list" style="width: 100% !important;">
                        <thead>
                            <tr>
                                <th>Actions</th>
                                <th>Region</th>
                                <th>Discount Group</th>
                                <th>Purchase Discount (%)</th>
                                <th>Customer Discount (%)</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Filter Modal -->
<div class="modal fade filter" id="discount-group-filter-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">Filter</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="modal-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Region
                                </label>
                                <md-select ng-model="$ctrl.region_filter_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Region" ng-change="onSelectedRegion($ctrl.region_filter_id)">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchTerm" type="search" placeholder="Search for a Region" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="region_list.id" ng-repeat="region_list in $ctrl.region_lists | filter:searchTerm">{{region_list.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="region_filter_id" id="region_filter_id" value="">
                            </div><!-- Feild -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Discount Group
                                </label>
                                <md-select ng-model="$ctrl.discount_grp_filter_id" md-on-close="clearSearchDiscount()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Discount Group" ng-change="onSelectedDiscountGrp($ctrl.discount_grp_filter_id)">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchDiscount" type="search" placeholder="Search for a Discount Group" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="discount_grp_list.id" ng-repeat="discount_grp_list in $ctrl.discount_grp_lists | filter:searchDiscount">{{discount_grp_list.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="discount_grp_filter_id" id="discount_grp_filter_id" value="">
                            </div><!-- Feild -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                <md-select ng-model="$ctrl.status" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Status" ng-change="onSelectedStatus($ctrl.status)">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchTerm3" type="search" placeholder="Search for a Status" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="status_list.id" ng-repeat="status_list in $ctrl.status_lists | filter:searchTerm3">{{status_list.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="status_list_filter_id" id="status_list_filter_id" value="">
                            </div><!-- Field -->
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="reset-link" ng-click="reset_filter();">Reset Filter</button>
                    </div><!-- Column -->
                    <div class="col-md-6 text-right">
                        <button type="submit" data-dismiss="modal" class="btn btn-primary btn-md" ng-click="apply_filter()">Apply</button>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Modal Footer -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- Modal -->
<div class="modal fade alert-modal failure" id="price-discount-delete-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">ARE YOU SURE?</h4>
            </div>
            <div class="modal-body">
                <h5>Delete</h5>
                <p>You can’t retrive the data again, Are you sure you want to delete? </p>
                <input type="hidden" name="price_discount_id" id="price_discount_id" value="">
                <button class="btn btn-grey" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button class="btn btn-rose" ng-click="deleteConfirm()" type="button" data-dismiss="modal" aria-label="Close">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->