<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/part-pkg/discount-group/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg">
                    </a>
                </div>
                <div class="page-header-content title-block">
                    <h1 class="title">{{$ctrl.action}} Discount Group </h1>
                    <p class="subtitle">Master / <a href="#!/part-pkg/discount-group/list"> Discount Group </a> / {{$ctrl.action}} </p>
                </div>
            </div>
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <form id="form">
        <input type="hidden" name="id" value="{{$ctrl.discount_group.id}}">
        <div class="page-main-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="input-text form-group">
                                        <label>Type<span class="mandatory" ng-hide="$ctrl.type == 'view'"> *</span></label>
                                        <span ng-show="$ctrl.type == 'view'">{{$ctrl.discount_group.type_name ? $ctrl.discount_group.type_name : '--'}}</span>
                                        <md-select ng-hide="$ctrl.type == 'view'" class="" ng-model="$ctrl.discount_group.type_id" placeholder="Select any one" md-on-close="clearSearchType()" data-md-container-class="selectdemoSelectHeader">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchType" type="search" placeholder="Search Type" class="demo-header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup label="type">
                                                <md-option ng-value="type.id" ng-repeat="type in $ctrl.type_list | filter:searchType">{{type.name}}</md-option>
                                            </md-optgroup>
                                        </md-select>
                                        <input type="hidden" name="type_id" class="type_id" value="{{$ctrl.discount_group.type_id}}">
                                        <div class="type_id_error"></div>
                                    </div><!-- Field -->
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="input-text form-group">
                                        <label>Code<span class="mandatory" ng-hide="$ctrl.type == 'view'"> *</span></label>
                                        <span ng-show="$ctrl.type == 'view'">{{$ctrl.discount_group.code ? $ctrl.discount_group.code : '--'}}</span>
                                        <input ng-hide="$ctrl.type == 'view'" type="text" name="code" class="form-control code" value="{{$ctrl.discount_group.code}}" autocomplete="off" placeholder="Enter Discount Group Code">
                                        <div class="code_error"></div>
                                    </div><!-- Field -->
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="input-text form-group">
                                        <label>Name<span class="mandatory" ng-hide="$ctrl.type == 'view'"> *</span></label>
                                        <span ng-show="$ctrl.type == 'view'">{{$ctrl.discount_group.name ? $ctrl.discount_group.name : '--'}}</span>
                                        <input ng-hide="$ctrl.type == 'view'" type="text" name="name" class="form-control name" value="{{$ctrl.discount_group.name}}" autocomplete="off" placeholder="Enter Discount Group Name">
                                        <div class="name_error"></div>
                                    </div><!-- Field -->
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="input-text form-group">
                                        <label>
                                            Active Status
                                            <sup class="mandatory" ng-hide="$ctrl.type == 'view'">*</sup>
                                        </label>
                                        <span ng-show="$ctrl.type == 'view'">{{$ctrl.switch_value}}</span>
                                        <div class="tab-switch" ng-hide="$ctrl.type == 'view'">
                                            <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                {{ $ctrl.switch_value }}
                                            </md-switch>
                                            <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                        </div>
                                    </div><!-- Form Group -->
                                </div><!-- Column -->
                            </div>
                        </div>
                    </div><!-- Page Form -->
                    <div class="page-form-footer">
                        <a class="btn-link" href="#!/part-pkg/discount-group/list">Cancel</a>
                        <button ng-hide="$ctrl.type == 'view'" type="submit" id="submit" class="btn btn-primary">Save</button>
                    </div><!-- Modal Footer -->
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </form>
</div><!-- Content Wrap -->