<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">Discount Groups<span class="badge badge-secondary" id="table_infos"></span></h1>
                </div><!-- Page Header Content -->
                <div class="page-header-content reset-block">
                    <div class="reset-wrap">
                        <button class="btn-reset" ng-click="reset_filter();">
                            <img class="img-responsive" src="./public/theme/img/content/reset.svg" alt="Reset" />
                        </button>
                    </div>
                </div><!-- Page Header Content -->
                <div class="page-header-content search-block">
                    <div class="search_filter">
                        <label>
                            <input type="search" id="search_discount_group" class="form-control" placeholder="Search" autofocus />
                            <button class="btn-clear" ng-click="clear_search()">Clear</button>
                        </label>
                    </div><!-- Search Filter -->
                </div>
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered" data-toggle="modal" data-target="#discount-group-filter-modal"><i class="icon ion-md-funnel"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <a href="#!/part-pkg/discount-group/form" class="btn btn-primary">
                        Add New
                    </a>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="page-main-content list-page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="discount_groups_list" style="width: 100% !important;">
                        <thead>
                            <tr>
                                <th>Actions</th>
                                <th>Type</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Filter Modal -->
<div class="modal fade filter" id="discount-group-filter-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">Filter</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="modal-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Type
                                </label>
                                <md-select ng-model="$ctrl.type_list_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Type" ng-change="onSelectedType($ctrl.type_list_id)">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchTerm" type="search" placeholder="Search for a Type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="type_list.id" ng-repeat="type_list in $ctrl.type_lists | filter:searchTerm">{{type_list.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="type_list_filter_id" id="type_list_filter_id" value="">
                            </div><!-- Feild -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                <md-select ng-model="$ctrl.status" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Status" ng-change="onSelectedStatus($ctrl.status)">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchTerm3" type="search" placeholder="Search for a Status" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="status_list.id" ng-repeat="status_list in $ctrl.status_lists | filter:searchTerm3">{{status_list.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control type-sm" name="status_list_filter_id" id="status_list_filter_id" value="">
                            </div><!-- Field -->
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="reset-link" ng-click="reset_filter();">Reset Filter</button>
                    </div><!-- Column -->
                    <div class="col-md-6 text-right">
                        <button type="submit" data-dismiss="modal" class="btn btn-primary btn-md" ng-click="apply_filter()">Apply</button>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Modal Footer -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- Modal -->
<div class="modal fade alert-modal failure" id="discount-group-delete-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">ARE YOU SURE?</h4>
            </div>
            <div class="modal-body">
                <h5>Delete</h5>
                <p>You will lose data from price discount also, Are you sure you want to delete? </p>
                <input type="hidden" name="discount_group_id" id="discount_group_id" value="">
                <button class="btn btn-grey" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button class="btn btn-rose" ng-click="deleteConfirm()" type="button" data-dismiss="modal" aria-label="Close">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->