<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/part-pkg/rack/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg">
                    </a>
                </div>
                <div class="page-header-content title-block">
                    <h1 class="title">{{$ctrl.action}} Rack </h1>
                    <p class="subtitle">Master / <a href="#!/part-pkg/rack/list"> Rack </a> / {{$ctrl.action}} </p>
                </div>
            </div>
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <form id="form">
        <input type="hidden" name="id" value="{{$ctrl.rack.id}}">
        <div class="page-main-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-form pb-60">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <label>Outlet<span class="mandatory"> *</span></label>
                                    <ui-select ng-model="$ctrl.rack.outlet_id" theme="select2">
                                        <ui-select-match placeholder="Select Outlet">
                                            {{$select.selected.name || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="i.id as i in $ctrl.outlet_list | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="i.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" class="outlet_id" id="outlet_id" name="outlet_id" value="{{$ctrl.rack.outlet_id}}">
                                    <div class="outlet_id_error"></div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <label>Type<span class="mandatory"> *</span></label>
                                    <ui-select ng-model="$ctrl.rack.type_id" theme="select2">
                                        <ui-select-match placeholder="Select Type">
                                            {{$select.selected.name || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="i.id as i in $ctrl.type_list | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="i.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" class="type_id" id="type_id" name="type_id" value="{{$ctrl.rack.type_id}}">
                                    <div class="type_id_error"></div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="input-text form-group">
                                        <label>Name<span class="mandatory"> *</span></label>
                                        <input type="text" name="name" class="form-control name" value="{{$ctrl.rack.name}}" autocomplete="off" placeholder="Enter Name">
                                        <div class="name_error"></div>
                                    </div><!-- Field -->
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="input-text form-group">
                                        <label>
                                            Active Status
                                            <sup class="mandatory">*</sup>
                                        </label>
                                        <div class="tab-switch">
                                            <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                {{ $ctrl.switch_value }}
                                            </md-switch>
                                            <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                        </div>
                                    </div><!-- Form Group -->
                                </div><!-- Column -->
                            </div>
                        </div>
                    </div><!-- Page Form -->
                    <div class="page-form-footer">
                        <a class="btn-link" href="#!/part-pkg/rack/list">Cancel</a>
                        <button type="submit" id="submit" class="btn btn-primary">Save</button>
                    </div><!-- Modal Footer -->
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
</div><!-- Page Main Content -->
</form>
</div><!-- Content Wrap -->